<!DOCTYPE html>
<html lang="en">
  <!-- head starts  -->
  <%- include('./partials/dashboard-head') %>
  
  <!-- head ends  -->

  <body style="background-color: #F8F7F5;">
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
      
    >
      <!-- Sidebar Start -->
      <%- include('./partials/dashboard-sidebar') %>
      <!--  Sidebar End -->

      <!--  Main wrapper -->
      <div class="body-wrapper" >
        <!--  Header Start -->
        <%- include('./partials/dashboard-header') %>
        <!--  Header End -->

        <!-- page content  -->
        <div class="container-fluid" >

          <!-- Add new group form Modal -->
            <div
              class="modal fade"
              id="exampleModalCenter"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3
                      class="modal-title fw-bolder"
                      id="exampleModalLongTitle"
                    >
                      Add New Group
                    </h3>
                    <button
                      type="button"
                      class="close px-2 pb-2 text-danger"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form id="prayer-group-form">
                      <!-- Group Name  -->
                      <div class="mb-3">
                        <label for="group-name" class="form-label"
                          >Group Name <span class="text-danger">*</span></label
                        >
                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="group-name"
                          required
                          aria-describedby="textHelp"
                        />
                      </div>

                       <!-- Community  -->
                      <div class="mb-3">
                        <label for="community" class="form-label"
                          >Community <span class="text-danger">*</span></label
                        >

                        <select
                          name="community"
                          class="form-select"
                          id="community"
                        >
                          <option value="default" selected disabled>
                            Select
                          </option>
                          <option value="AB Tolbert Road">AB Tolbert Road</option>
                          <option value="Police Academy Road">Police Academy Road</option>
                          <option value="GSA Road Kisai camp first junction">GSA Road Kisai camp first junction </option>
                          <option value="Behind Benson Hospital">Behind Benson Hospital</option>

                          <option value="Duport Road, Paynesville">Duport Road, Paynesville</option>
                          <option value="Mickie Gray Junction">Mickie Gray Junction</option>
                          <option value="SD Cooper Road ">SD Cooper Road </option>
                          <option value="Kpelleh Town">Kpelleh Town </option>

                          <option value="Zubah Town/Thinkers Village">Zubah Town/Thinkers Village</option>
                          <option value="Thinkersvillage">Thinkersvillage  </option>
                          <option value="Rehab Community">Rehab Community  </option>
                          <option value="Scheiffelin town">Scheiffelin town </option>
                          <option value="Beverly Hills, Duazon">Beverly Hills, Duazon </option>
                          <option value="Front Street, Monrovia">Front Street, Monrovia  </option>

                           <option value="Lakpazee EJ hunter big school building ">Lakpazee EJ hunter big school building   </option>
                          <option value="Chugbor Road/ Smythe Road">Chugbor Road/ Smythe Road </option>
                          <option value="72nd Junction">72nd Junction </option>
                          <option value="Boulevard">Boulevard </option>
                        </select>
                      </div>


                     
                       <!-- Address  -->
                      <div class="mb-3">
                        <label for="address" class="form-label"
                          >Address <span class="text-danger">*</span></label
                        >
                        <input
                          type="text"
                          name="address"
                          class="form-control"
                          id="address"
                          required
                          aria-describedby="textHelp"
                        />
                      </div>

                      <!-- Contacts  -->
                      <div class="mb-3">
                        <label for="contacts" class="form-label"
                          >Contacts <span class="text-danger">*</span></label
                        >
                        <input
                          type="text"
                          name="contacts"
                          class="form-control"
                          required
                          id="contacts"
                          aria-describedby="textHelp"
                          placeholder="Ex: 0770322706, 0880526256"
                        />
                      </div>

                    

                       <!-- Meeting date  -->
                      <div class="mb-3">
                        <label for="meeting-date" class="form-label"
                          >Meeting Date <span class="text-danger">*</span></label
                        >
                        <input
                          type="date"
                          name="meeting_date"
                          class="form-control"
                          required
                          id="meeting-date"
                          aria-describedby="textHelp"
                        />
                      </div>

                       <!-- Meeting time  -->
                      <div class="mb-3">
                        <label for="meeting-time" class="form-label"
                          >Meeting Time <span class="text-danger">*</span></label
                        >
                        <input
                          type="time"
                          name="meeting_time"
                          class="form-control"
                          required
                          id="meeting-time"
                          aria-describedby="textHelp"
                        />
                      </div>

                      <!-- WhatsApplink  -->
                      <div class="mb-3">
                        <label for="whatsapp" class="form-label"
                          >WhatsApp Group Link <span class="text-danger">*</span></label
                        >
                        <input
                          type="url"
                          name="whatsapp_link"
                          required
                          class="form-control"
                          id="whatsapp"
                          aria-describedby="textHelp"
                          placeholder="Ex: https://wa.me/?text=urlencodedtext"
                        />
                      </div>

                      <input
                        type="submit"
                        class="btn btn-success w-100 py-8 fs-4 mb-4 rounded-2"
                        value="CREATE GROUP"
                      />
                      <div
                        class="d-flex align-items-center justify-content-center"
                      >
                        <a
                          class="text-danger fw-bold ms-2"
                          href="/prayer-groups"
                          >Cancel</a
                        >
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          <!-- VIEW MEMBER MODAL -->
          <div class="modal fade" id="viewMemberModal" tabindex="-1" role="dialog" aria-labelledby="viewMemberModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="viewMemberModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>

        <!-- display groups if page is render with groups data  -->
          <% if (prayer_groups && prayer_groups.length > 0) { %>

          <!-- page header text -->
          <div class="row px-2 d-flex justify-content-center align-items-center" style="height: 30vh;  background-image: linear-gradient(
                rgba(0, 0, 5, 0.9),
                rgba(0, 0, 0, 0.5)
              ),
              url(https://scontent-bcn1-1.xx.fbcdn.net/v/t39.30808-6/445034769_757285919925731_2565895205701140277_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeHpGFB2MnrpkQa7MA-g7RDjqZy7JQtURLapnLslC1REtvyBIBg9m25_ylQTjwp-zDvPK3WXMlu615bTQ40QDPA1&_nc_ohc=laToDKNNLv8Q7kNvgExCezO&_nc_zt=23&_nc_ht=scontent-bcn1-1.xx&_nc_gid=A5FmdPvHfJjHkAqnSUekIvv&oh=00_AYAbI5YEz_IIm04eY4vnbpW8HEuTqAzjYSQYzltmNzjnHg&oe=672EA402);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;">
          
            <h1 class="text-center text-light">Explore All Groups</h1>
            
          </div>
          

          <!-- sort groups  -->
          <div class="d-lg-flex justify-content-between mt-5 mb-5 ">
             <!-- search bar  -->
            <div class="row px-2  rounded ">
              <!-- <div class="col-lg-10 my-3">
                <input
                  class="form-control mr-sm-2"
                  type="search"
                  placeholder="Search for groups..."
                  aria-label="Search"
                />
              </div> -->

              
              <!-- display add new group button only if logged in user is an admin  -->
              <% if (user.role !== "member") { %>
                <a
                href="/add-prayer-group"
                type="button"
                class="btn btn-dark  my-3 shadow"
                data-toggle="modal"
                data-target="#exampleModalCenter"
              >
                <span
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-plus"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 5l0 14" />
                    <path d="M5 12l14 0" /></svg></span
                ><span>START NEW GROUP</span>
              </a>
              <% } %>

              
            </div>

            <div class="dropdown d-flex flex-column justify-content-center ">
              <button
                class="btn border-0 dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Filter by Address:
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">AB Tolbert Road</a>
                <a class="dropdown-item" href="#">Police Academy Road</a>
                <a class="dropdown-item" href="#">Boulevard </a>
                <a class="dropdown-item" href="#">72nd Junction</a>
                <a class="dropdown-item" href="#">Chugbor Road/ Smythe Road</a>
                <a class="dropdown-item" href="#">Lakpazee EJ hunter big school building </a>
                <a class="dropdown-item" href="#">Front Street, Monrovia </a>
                <a class="dropdown-item" href="#">Beverly Hills, Duazon</a>
                <a class="dropdown-item" href="#">Rehab Community </a>

              </div>
            </div>
          </div>

          <!-- groups  -->
          


       


          <div class="accordion" id="accordionExample">
             <% prayer_groups.forEach(function(group, index){ %>

            <!-- card  -->
            <div class="accordion-item mb-5 shadow-lg">
              <h2 class="accordion-header" id="heading-<%= group.id %>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= group.id %>" aria-expanded="true" aria-controls="collapse<%= group.id %>">
                  <div>
                    <h3 class="fw-bolder"><%= group.name %> </h3>
                  
                    <% if(group.members_count === 15){ %>
                          <p class="small"><i class="bi bi-bullseye text-danger me-2"></i>Closed - Reached Limit</p>
                    <% } else{ %>  
                          <p class="small"><i class="bi bi-bullseye text-success me-2"></i>Accepting New Members</p>
                    <% } %>

                    
                  <p class="small"><i class="bi bi-geo-alt-fill me-2"></i>  <%= group.community %></p>

                  <% if(group.members_count > 1){ %>
                          <p class="small"><i class="bi bi-person-badge me-2"></i>   <%= group.members_count %>  Members</p>
                  <% } else{ %>  
                          <p class="small"><i class="bi bi-person-badge me-2"></i>   <%= group.members_count %>  Member</p>
                  <% } %>
                    
                  </div>
                </button>
              </h2>
              <div id="collapse<%= group.id %>" class="accordion-collapse collapse  <% if (index === 0 ) { %>
  show
<% } %>" aria-labelledby="heading<%= group.id %>" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <!-- <strong>Main Address:</strong> AB Tolbert Road, Behind Life Church -->
                  <div class="table-responsive">
                      <table class="table table-hover ">
            <thead>
              <tr>
                <th scope="col" class="fw-bolder text-nowrap">Main Address</th>
                <th scope="col" class="fw-bolder">Community</th>
                <th scope="col" class="fw-bolder">Contact</th>
                <th scope="col" class="fw-bolder text-nowrap">Meeting Day & Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row"><%= group.address %></th>
                <td><%= group.community %></td>
                <td><%= group.contacts %></td>
                <td><%= group.meeting_date %>  @<%= group.meeting_time %></td>
              </tr>
            

            </tbody>
          </table>
                  </div>


          <div class="mt-4 container-fluid">
                              <hr />
                              <div
                                class="d-lg-flex justify-content-between align-items-center"
                              >
                                <p>
                                  Created by: <%= group['User.first_name']  %> <%= group['User.last_name']  %>
                                
                                </p>


                                <% if(group.members.includes(user.id)){ %>
                                      <!-- --------------------- -->

                                       <div>
                                  <a href="<%= group.whatsapp_link %>" target="blank">
                                      <button type="button" class="btn btn-success">
                                         <i class="bi bi-whatsapp fs-4"></i> JOIN WHATSAPP
                                      </button>
                                    </a>
                                </div>


                                      

                                     <!-- ----------------------------- -->
                                <% } else{ %>  
                                   <div>


                                    <!-- check if the logged in user is the user who created a specific group  -->
                                        <% if (user.id === group.UserId) { %>
                                        
                                            <a href="/prayer-groups/" class="d-none">
                                            <button type="button" class="btn btn-dark">
                                              ADD MEMBER
                                            </button>
                                          </a>
                                          <button type="button" class="btn d-none btn-secondary" data-toggle="modal" data-target="#viewMemberModal" id="view-group-member-btn">
                                              VIEW MEMBERS
                                            </button>
                                          
                                        <% } %>


                                        <!-- check if the logged in user is not the same user who created a specific group -->
                                        <% if (user.id !== group.UserId) { %>
                                        
                                            
                                         
                                          <!-- show join group button if members count is not the group limit which is 15 members  -->

                                           <% if(group.members_count !== 15){ %>
                                                   <button type="button" class="btn btn-success" id="join-group-btn" data-group-id="<%= group.id  %>">
                                                    JOIN GROUP
                                                  </button>
                                          <% } else{ %>  
                                                   <button type="button" disabled class="btn btn-danger" id="join-group-btn" data-group-id="<%= group.id  %>">
                                                    CLOSED
                                                  </button>
                                          <% } %>
                                      
                                          
                                        <% } %>
                                        
                                      
                                      </div>
                                <% } %>


                               

                                
                              
                              </div>
                            </div>
                </div>
              </div>
            </div>

            <% }); %>

            

          </div>
          <% } else{ %>  
              <!-- else let user know that there's no group"  -->
           
              <div class="text-center my-5 py-5">
             <div>
              <i class="bi bi-emoji-frown-fill text-muted" style="font-size: 15em;"></i>
            </div>
            <p class="text-muted">No Group</p>



            <!-- display option to start a new group only when logged in user is an admin  -->
            <% if (user.role !== "member") { %>
                
              
            <div>
               <a
              href="/add-prayer-group"
              type="button"
              class="btn btn-dark my-3"
              data-toggle="modal"
              data-target="#exampleModalCenter"
            >
              <span
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-plus"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M12 5l0 14" />
                  <path d="M5 12l14 0" /></svg></span
              ><span>START NEW GROUP</span>
            </a>
            </div> 
           
           </div>

              <% } %>


          <% } %>

          
         
        </div>
      </div>
    </div>
    <!-- dashboard script starts  -->
    <%- include('./partials/dashboard-script') %>
    <!-- dashboard script ends  -->

    <script src="/javascript/add-prayer-group.js"></script>
     <script src="/javascript/join-group.js"></script>
      <script src="/javascript/view-group-members.js"></script>

    <!-- sweet alert  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
