<!DOCTYPE html>
<html lang="en">
  <!-- head starts  -->
  <%- include('./partials/dashboard-head') %>
  
  <!-- head ends  -->

  <body style="background-color: #F8F7F5;">
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
      
    >
      <!-- Sidebar Start -->
      <%- include('./partials/dashboard-sidebar') %>
      <!--  Sidebar End -->

      <!--  Main wrapper -->
      <div class="body-wrapper" >
        <!--  Header Start -->
        <%- include('./partials/dashboard-header') %>
        <!--  Header End -->

        <!-- page content  -->
        <div class="container-fluid" >

          <!-- Add new group form Modal -->
            <div
              class="modal fade"
              id="exampleModalCenter"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalCenterTitle"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3
                      class="modal-title fw-bolder"
                      id="exampleModalLongTitle"
                    >
                      Add New Group
                    </h3>
                    <button
                      type="button"
                      class="close px-2 pb-2"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form id="prayer-group-form">
                      <!-- Group Name  -->
                      <div class="mb-3">
                        <label for="group-name" class="form-label"
                          >Group Name</label
                        >
                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="group-name"
                          required
                          aria-describedby="textHelp"
                        />
                      </div>

                      <!-- Description  -->
                      <div class="mb-3">
                        <label for="description" class="form-label"
                          >Description</label
                        >

                        <textarea
                          name="description"
                          class="form-control"
                          required
                          id="description"
                        ></textarea>
                      </div>

                      <!-- Prayer Region  -->
                      <div class="mb-3">
                        <label for="prayer-region" class="form-label"
                          >Group Region</label
                        >

                        <select
                          name="region"
                          class="form-select"
                          id="prayer-region"
                        >
                          <option value="default" selected disabled>
                            Select Region
                          </option>
                          <option value="Paynesville">Paynesville</option>
                          <option value="Barnersville">Barnersville</option>
                          <option value="Sinkor">Sinkor</option>
                          <option value="Old Road">Old Road</option>
                        </select>
                      </div>

                      <!-- Community  -->
                      <div class="mb-3">
                        <label for="community" class="form-label"
                          >Community</label
                        >
                        <input
                          type="text"
                          name="community"
                          class="form-control"
                          required
                          id="community"
                          aria-describedby="textHelp"
                        />
                      </div>

                      <!-- WhatsApplink  -->
                      <div class="mb-3">
                        <label for="whatsapp" class="form-label"
                          >WhatsApp Invite Link</label
                        >
                        <input
                          type="url"
                          name="whatsapp_link"
                          required
                          class="form-control"
                          id="whatsapp"
                          aria-describedby="textHelp"
                        />
                      </div>

                      <input
                        type="submit"
                        class="btn btn-success w-100 py-8 fs-4 mb-4 rounded-2"
                        value="CREATE GROUP"
                      />
                      <div
                        class="d-flex align-items-center justify-content-center"
                      >
                        <a
                          class="text-danger fw-bold ms-2"
                          href="/prayer-groups"
                          >Cancel</a
                        >
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

        <!-- display groups if page is render with groups data  -->
          <% if (prayer_groups && prayer_groups.length > 0) { %>

          <!-- search bar  -->
          <div class="row px-2  rounded">
            <!-- <div class="col-lg-10 my-3">
              <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="Search for groups..."
                aria-label="Search"
              />
            </div> -->

            <a
              href="/add-prayer-group"
              type="button"
              class="btn btn-success col-lg-2 my-3 shadow"
              data-toggle="modal"
              data-target="#exampleModalCenter"
            >
              <span
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-plus"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M12 5l0 14" />
                  <path d="M5 12l14 0" /></svg></span
              ><span>START NEW GROUP</span>
            </a>

            
          </div>
          

          <!-- sort groups  -->
          <div class="d-flex justify-content-between mt-5 mb-5">
            <h1 class="fw-bolder">All Groups</h1>
            <div class="dropdown">
              <button
                class="btn border-0 dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Filter by:
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">All Groups</a>
                <a class="dropdown-item" href="#">Joined Groups</a>
              </div>
            </div>
          </div>

          <!-- groups  -->
          
          <div class="mt-4">
            <% prayer_groups.forEach(function(group){ %>

            <!-- card  -->
            <div>
              <div class="card shadow-lg" >
                <div class="card-body">
                  <div
                    class="d-lg-flex align-items-center justify-content-between pb-4"
                  >
                    <!-- group name  -->
                    <h1 class="fw-bolder card-title text-dark">
                      <%= group.name %>
                    </h1>

                    <div class="">
                      <small class="mb-2 text-muted me-4"
                        ><strong>Members Count:</strong>0</small
                      >
                      <!-- <small class="mb-2 text-muted me-4">0 Posts</small> -->
                    </div>
                  </div>

                  <div class="row">
                    <p class="card-text text-dark col-lg-12">
                      <span class="text-success">Group Description:</span>
                      <br />
                      <%= group.description %>
                    </p>
                  </div>

                  <div class="mt-5">
                    <hr />
                    <div
                      class="d-lg-flex justify-content-between align-items-center"
                    >
                      <p>
                        Created by:
                        <a href="#" class="card-link text-muted"
                          ><%= group['User.first_name'] + " " + group['User.last_name'] %></a
                        >
                      </p>
                      <div>
                        <a href=/prayer-groups/<%= group.id %>>
                          <button type="button" class="btn btn-dark">
                            OPEN GROUP
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <% }); %>
          </div>
          <% } else{ %>  
              <!-- else let user know that there's no group"  -->
           <div class="text-center my-5 py-5">
             <div>
              <i class="bi bi-emoji-frown-fill text-muted" style="font-size: 15em;"></i>
            </div>
            <p class="text-muted">No Group</p>
            <div>
               <a
              href="/add-prayer-group"
              type="button"
              class="btn btn-dark my-3"
              data-toggle="modal"
              data-target="#exampleModalCenter"
            >
              <span
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-plus"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M12 5l0 14" />
                  <path d="M5 12l14 0" /></svg></span
              ><span>START NEW GROUP</span>
            </a>
            </div> 
           
           </div>
          <% } %>

          
         
        </div>
      </div>
    </div>
    <!-- dashboard script starts  -->
    <%- include('./partials/dashboard-script') %>
    <!-- dashboard script ends  -->

    <script src="/javascript/add-prayer-group.js"></script>

    <!-- sweet alert  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
